:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #f6f6f9;
	--light-blue: #1A0554;
	--blue: #664EAE;
	--grey:#e4e4e4;
	--dark-grey: #AAAAAA;
	--dark: #1A0554;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
    --mixed: linear-gradient(to right, #1A0554, #664EAE);
}
.tables {
    display: flex; /* Added */
}

.table-movies {
    flex-grow: 1; /* Added */
}

#content main .tables{
    display: block; /* Added */
}

#content main .tables .add-movie{
    margin-top: 20px;
    width: 100%;
}
#content main .add-movie {
    margin-right: 10px; /* Added */
}

#content main .add-movie h2 {
    margin-bottom: 10px;
}

.add-movie form {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    color: var(--dark);
}

.add-movie form .input-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 15px;
    border: 1px solid rgba(66, 66, 66, 0.301);
}

.add-movie form .input-row .input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-movie form label {
    display: block;
    margin-bottom: 5px;
}

.add-movie form input {
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid var(--dark);
    outline: none;
    border-bottom: 1px solid gray;
    border-left: none;
    border-right: none;
    border-top: none;
    background: transparent;
}

.add-movie form input[type="submit"] {
    background-color: var(--light-blue);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-align: center;
    width: 100px;
    margin-top: 10px;
}

.add-movie form input[type="submit"]:hover {
    background-color: var(--blue);
}

#content main .table-movies {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
    white-space: nowrap; /* Prevent content from wrapping and force divs to stay side by side */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#content main .table-movies h1{
    color: var(--light-blue);
}

#content main .table-movies table {
    color: var(--dark);
    width: 100%;
    border-collapse: separate;
    table-layout: fixed; /* Set the table layout to fixed */
    border-spacing: 10px; /* Adjust as needed for space between columns */
}

#content main .table-movies table th,
#content main .table-movies table td {
    padding: 12px; /* Add padding to table cells */
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
    width: 1%; /* Set a default width for all cells */
}

#content main .table-movies table td button{
    background: var(--light-blue);
    width: 46px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: var(--light);
}


#content main .table-movies table td button:hover{
   background: var(--blue);
   cursor: pointer;
}

#content main .table-movies table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
    width: 2%;
}

#content main .table-movies table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
