:root {
  --light: #f6f6f9;
  --dark:#0C0B13;
  --primary:#1A0554;
  --secondary:#664EAE;
  --grey:#E2E9FF;
  --mixed: linear-gradient(to right, #1A0554, #664EAE);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vidaloka', sans-serif;
}
html{
    scroll-behavior: smooth;
}
html,body{
    overflow-x: hidden;
}
body{
    background-color: var(--dark);
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1, h2, h3, span, a{
    font-style: normal;
}
h1, h2, h3{
    text-transform: capitalize;
}

.home{
    padding: 0;
    position: relative;
    z-index: 1;
}

.home .slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home .slide p{
    font-size: 40px;
    font-weight: 500;
    color: var(--grey);
    text-shadow: 2px 8px 8px var(--dark);
}

.about{
    background: linear-gradient(to right, #1a055463, #664eae62);
    border: 1px solid transparent;
    position: relative;
    z-index: 2;
}

.about .section {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: -60px 130px;
    margin-bottom: 40px;
    background: var(--dark);
    border-radius: 50px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 2;
  }
  
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 390px;
    width: 310px;
  }

  .swiper-slide{
    position: relative;
  }

  .swiper-slide .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .swiper-slide img{
    width: 100%;
    height: 650px;
    display: block;
    filter: blur(2px);
    z-index: 0;
  }

  /*.swiper-slide:nth-child(1),
  .swiper-slide:nth-child(2),
  .swiper-slide:nth-child(3),
  .swiper-slide:nth-child(4) {
    width: 100%;
    height: 650px;
    background-position: center;
    filter: blur(2px);
    z-index: 0;
}*/

  
  .content h2 {
    font-size: 19px;
    filter: none;
  }
  
  .box {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--dark);
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid var(--primary);
    color: white;
    padding: 20px;
    display: flex; /* Added display: flex */
    justify-content: space-evenly; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    position: relative; /* Added position: relative */
  }
  
  .box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    pointer-events: none;
  }
  
  .box:hover:before {
    left: -50%;
    transform: skewX(-5deg);
  }
  
  .box .content {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 1px solid var(--secondary);
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
  }
  
  .box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
  }
  
  .box span:nth-child(1) {
    transform: rotate(0deg);
  }
  
  .box span:nth-child(2) {
    transform: rotate(90deg);
  }
  
  .box span:nth-child(3) {
    transform: rotate(180deg);
  }
  
  .box span:nth-child(4) {
    transform: rotate(270deg);
  }
  
  .box span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--grey);
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }
    50% {
      transform: scaleX(1);
      transform-origin: left;
    }
    50.1% {
      transform: scaleX(1);
      transform-origin: right;
    }
    100% {
      transform: scaleX(0);
      transform-origin: right;
    }
  }

  .movies , .coming-movies{
    background: var(--dark);
    padding: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .movies h1 , .coming-movies h1{
    color: var(--grey);
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 2px 2px 8px var(--secondary);
  }

  .movies-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 30px;
  }
  
  .movie-card{
    width: 220px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    perspective: 1000px;
    transition: all .5s ease-in-out .5s;
  }

  .movie-card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px var(--dark);
  }

  .movie-card .poster{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: rotateY(0);
    transition: all .5s ease-in-out 0s;
  }

  .movie-card:hover .poster{
    transform: rotateY(-90deg);
  }

  .movie-card .content{
    color: var(--grey);
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    transform: rotateY(90deg);
    transition: all .5s ease-in-out 0s;
  }

  .movie-card:hover .content{
    transform: rotateY(0);
  }

  .movie-card .content p{
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    padding: 20px 0;
    margin: 0 25px;
  }

  .movie-card .button{
    top: 0;
    bottom: 0;
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 260px 50px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    transform: rotateY(90deg);
    transition: all .5s ease-in-out 0s;
  }

  .movie-card:hover .button{
    transform: rotateY(0);
  }

  .movie-card .button a{
    color: var(--grey);
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    background: var(--mixed);
    border-radius: 5px;
  }

  .contact{
    background: linear-gradient(to right, #1a055463, #664eae62);
    padding: 10px 0;
  }

  .contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
  }

  .contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 0 30px;
  }

  .contact-map iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
  }

  .contact-form form{
    margin: 10px 25px;
  }

  .contact-form h1{
    color: var(--grey);
  }

  .contact-form input,
  .contact-form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    color: var(--grey);
    font-weight: 400;
    outline: none;
    background: transparent;
    margin: 5px 10px;
  }

  .contact-form input::placeholder,
  .contact-form textarea::placeholder{
    color: var(--grey);
  }

  .contact-form form .btn{
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }

  .contact-form form .btn:hover{
    background: var(--grey);
    color: var(--primary);
  }