.theatre {
    display: flex;
    padding: 100px;
  }
  
  .cinema-seats {
    display: flex;
  }
    
  .cinema-seats .seat {
      cursor: pointer;
  }
      
  .cinema-seats .seat &:hover:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 7px;
      }
      
      .cinema-seats .seat &.active {}
      
      .cinema-seats .seat &.active:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 7px;
      }
    
  
  

    
    .left .cinema-row {
      transform: skew(-15deg);
      margin: 0 6px;
    }
  
    .seat {
      width: 35px;
      height: 50px;
      border-radius: 7px;
      background: var(--mixed);
      margin-bottom: 10px;
      transform: skew(20deg);
      margin-top: -32px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
    }
  
    .row-2 {
      transform: skew(-13deg);
    }
  
      .seat {
        transform: skew(18deg);
      }
    
  
    .row-3 {
      transform: skew(-12deg);
    }
  
      .row-3 .seat {
        transform: skew(16deg);
      }
    
  
    .row-4 {
      transform: skew(-11deg);
    }
  
      .seat {
        transform: skew(15deg);
      }
    
  
    .row-5 {
      transform: skew(-10deg);
    }
      .seat {
        transform: skew(12deg);
      }
    
  
    .row-6 {
      transform: skew(-9deg);
    }
  
      .row-6 .seat {
        transform: skew(10deg);
      }
  
    .row-7 {
      transform: skew(-7deg);
    }
  
    .row-7 .seat {
        transform: skew(8deg);
      }
    
  
  
  
  
  
  
  .right {
    margin-left: 70px;
  }
    
    .right .cinema-row {
      transform: skew(7deg);
      margin: 0 6px;
    }
  
    .seat {
      width: 35px;
      height: 50px;
      border-radius: 7px;
      background: linear-gradient(to right, #1A0554, #664EAE);
      margin-bottom: 10px;
      transform: skew(-8deg);
      margin-top: -32px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
    }
    
    .row-2 {
      transform: skew(9deg);
    }
  
      .seat {
        transform: skew(-10deg);
      
    }
  
    .row-3 {
      transform: skew(10deg);
    }
  
      .seat {
        transform: skew(-12deg);
      }
    
  
    .row-4 {
      transform: skew(11deg);
    }
  
    .row-4 .seat {
        transform: skew(-15deg);
      }
    
  
    .row-5 {
      transform: skew(12deg);

    }
      .row-5 .seat {
        transform: skew(-16deg);
      }
    
  
    .row-6 {
      transform: skew(13deg);
    }
  
      .row-6 .seat {
        transform: skew(-18deg);
      }
    
  
    .row-7 {
      transform: skew(15deg);
    }
  
      .row7 .seat {
        transform: skew(-20deg);
      }
